<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Order {{ .OrderUID}}</title>
</head>
<body>
  <h2>Order</h2>
  <table>
    <tr>
      <th>UID</th>
      <th>Track number</th>
      <th>Entry</th>
      <th>Service</th>
      <th>Created</th>
    </tr>
    <tr>
      <td>{{ .OrderUID}}</td>
      <td>{{ .TrackNumber}}</td>
      <td>{{ .Entry}}</td>
      <td>{{ .DeliveryService}}</td>
      <td>{{ .DateCreated}}</td>
    </tr>
  </table>
  <h2>Delivery</h2>
  <table>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Zip</th>
      <th>City</th>
      <th>Address</th>
      <th>Region</th>
      <th>Email</th>
    </tr>
    <tr>
      <td>{{ .Delivery.Name}}</td>
      <td>{{ .Delivery.Phone}}</td>
      <td>{{ .Delivery.Zip}}</td>
      <td>{{ .Delivery.City}}</td>
      <td>{{ .Delivery.Address}}</td>
      <td>{{ .Delivery.Region}}</td>
      <td>{{ .Delivery.Email}}</td>
    </tr>
  </table>
  <h2>Payment</h2>
  <table>
    <tr>
      <th>Transaction</th>
      <th>RequestID</th>
      <th>Currency</th>
      <th>Provider</th>
      <th>Amount</th>
      <th>DeliveryCost</th>
      <th>Bank</th>
      <th>CustomFee</th>
    </tr>
    <tr>
      <td>{{ .Payment.Transaction}}</td>
      <td>{{ .Payment.RequestID}}</td>
      <td>{{ .Payment.Currency}}</td>
      <td>{{ .Payment.Provider}}</td>
      <td>{{ .Payment.Amount}}</td>
      <td>{{ .Payment.DeliveryCost}}</td>
      <td>{{ .Payment.Bank}}</td>
      <td>{{ .Payment.CustomFee}}</td>
    </tr>
  </table>
  <h2>Items</h2>
  {{range .Items}}
    <table>
      <tr>
        <th>Track Number</th>
        <th>Price</th>
        <th>Name</th>
        <th>Sale</th>
        <th>Total Price</th>
        <th>Brand</th>
        <th>Status</th>
      </tr>
      <tr>
        <td>{{ .TrackNumber}}</td>
        <td>{{ .Price}}</td>
        <td>{{ .Name}}</td>
        <td>{{ .Sale}}</td>
        <td>{{ .TotalPrice}}</td>
        <td>{{ .Brand}}</td>
        <td>{{ .Status}}</td>
      </tr>
    </table>
  {{end}}
  <style>
    table, th, td {
      border: 1px solid black;
      margin-bottom: 1em;
    }
    td{
      padding: 0.1em;
    }
  </style>
</body>
</html>